@import "../swiper-btn-navigate/swiper-btn-navigate.scss";

.swiper-gallery {
    width: 100%;
    height: 275px;
    overflow: hidden;
    @include media_from('sm') {
        height: 370px;
    }
    @include media_from('lg') {
        height: 375px;
    }
    .swiper-gallery-wrapper {
        width: 100%;
        height: 100%;
        .swiper-gallery-slide {
            min-width: 250px;
            max-width: 250px;
            height: 275px;
            border-radius: 10px;

            @include media_from('sm') {
                min-width: 350px;
                max-width: 350px;
                height: 370px;
            }
            @include media_from('lg') {
                height: 375px;
            }

            .swiper-gallery-slide__item__image {
                position: relative;
                width: 100%;
                height: 230px;
                margin-bottom: 10px;
                @include media_from('sm') {
                    height: 320px;
                    margin-bottom: 15px;
                }
                @include media_from('lg') {
                    margin-bottom: 20px;
                }

                .swiper-gallery-slide__item__gradient {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 10px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(179.82deg, rgba(0, 0, 0, 0) 64.58%, rgba(0, 0, 0, 0.6) 79.64%);
                    z-index: 3;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
                .swiper-gallery-slide__item__name {
                    position: absolute;
                    left: 16px;
                    bottom: 16px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                    z-index: 5;
                    margin: 0;
                    padding: 0;
                    @include media_from('sm') {
                        font-size: 20px;
                        line-height: 150%;
                    }
                    @include media_from('lg') {
                        font-size: 16px;
                        line-height: 21px;
                    }
                    span {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }

            .swiper-gallery-slide__item__audio {
                width: 100%;
                height: 35px;
                background: #F1F3F4;
                border-radius: 5px;
            }
        }
    }
}