.pagination {
  &-block {
    display: flex;
    justify-content: center;
  }

  display: flex;
  align-items: center;
  font-size: 16px;
  @include media_from('sm') {
    font-size: 20px;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-right: 6px;
    @include media_from('sm') {
      width: 40px;
      height: 40px;
    }

    svg {
      width: 30px;
      height: 30px;
      @include media_from('sm') {
        width: 40px;
        height: 40px;
      }
    }

    &.btn_forward, &.btn_back {
      cursor: default;

      svg {
        opacity: 0.4;
      }
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-right: 6px;
    @include media_from('sm') {
      width: 40px;
      height: 40px;
    }

    svg {
      width: 30px;
      height: 30px;
      @include media_from('sm') {
        width: 40px;
        height: 40px;
      }
    }

    text-decoration: none;

    &:hover {
      border: none;
      background: $theme-color;
      color: #FFFFFF;
    }

    &.btn_forward, &.btn_back {
      &:hover {
        background-color: $theme-color;
        border-radius: 10px;

        svg {
          path {
            stroke: #FFFFFF;
          }
        }
      }
    }
  }

  .btn-page {
    border: 1px solid $theme-color;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 600;
    line-height: 100%;
    color: $font-color;
    @include media_from('sm') {
      border: 2px solid $theme-color;
    }
  }

  .active-btn {
    background: $theme-color;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    border: none;
  }
}