.pagination {
    display: flex;
    align-items: center;
    button {
        width: 30px;
        height: 30px;
        background-color: transparent;
        margin-right: 6px;
        @include media_from('sm') {
            width: 40px;
            height: 40px;
        }

        &:last-of-type {
            margin-right: 0;
        }
        svg {
            width: 30px;
            height: 30px;
            @include media_from('sm') {
                width: 40px;
                height: 40px;
            }
        }
    }
    .btn_first-page {
        &:hover:not(:disabled) {
            background-color: $theme-color;
            border-radius: 10px;

            svg {
                path {
                    stroke: #FFFFFF;
                }
            }
        }
        svg {
            transform: rotate(180deg);
        }
        &:disabled {
            cursor: default;
            svg {
                opacity: 0.4;
            }
        }
    }
    .btn_back {
        &:hover:not(:disabled) {
            background-color: $theme-color;
            border-radius: 10px;

            svg {
                path {
                    stroke: #FFFFFF;
                }
            }
        }
        &:disabled {
            cursor: default;
            svg {
                opacity: 0.4;
            }
        }
    }
    .btn-page {
        border: 1px solid $theme-color;
        background-color: transparent;
        border-radius: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: $font-color;
        @include media_from('sm') {
            border: 2px solid $theme-color;
            font-size: 20px;
            line-height: 27px;
        }

        &:hover {
            border: none;
            background: $theme-color;
            color: #FFFFFF;
        }
    }
    .active-btn {
        background: $theme-color;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        border: none;
    }
    .btn_forward {
        &:hover:not(:disabled) {
            background-color: $theme-color;
            border-radius: 10px;

            svg {
                path {
                    stroke: #FFFFFF;
                }
            }
        }
        &:disabled {
            cursor: default;
            svg {
                opacity: 0.4;
            }
        }
    }
    .btn_last-page {
        &:hover:not(:disabled) {
            background-color: $theme-color;
            border-radius: 10px;

            svg {
                path {
                    stroke: #FFFFFF;
                }
            }
        }
        &:disabled {
            cursor: default;
            svg {
                opacity: 0.4;
            }
        }
    }
}