@import "../../components/bread-crumb/bread-crumb.scss";
@import "../../components/swiper-gallery/swiper-gallery.scss";
@import "./_title";
@import "./_about";
@import "./develop-team-grid.scss";

.develop-team {
    background: #FCFCFC;
    color: $font-color;
    padding-bottom: 102px;
    padding-top: 24px;
    @include media_from('sm') {
        padding-bottom: 112px;
        padding-top: 40px;
    }
    @include media_from('lg') {
        padding-top: 64px;
    }
}

.develop-team-container {
    max-width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    @include media_from('md') {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.develop-team__initiator {
    margin-bottom: 30px;
    @include media_from('md') {
        margin-bottom: 35px;
    }
    @include media_from('xl') {
        margin-bottom: 40px;
    }
    .develop-team__initiator__title {
        margin-bottom: 24px;
        @include media_from('xl') {
            margin-bottom: 32px;
        }
    }
}

.develop-team-section-h3 {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include media_from('xl') {
        font-size: 35px;
    }
}