.news-list {
  @include block-padding-bottom;
}

.head-news-group {
  @include block-padding-bottom;
  /* .head-news-group__filter */
  &__filter {
    display: flex;
    gap: 30px;
    flex-direction: column;
    @include media_from('md') {
      flex-direction: row;

    }
  }

  /* .head-news-group__label */
  &__label {
    flex: 1 1 auto;
  }

  /* .head-news-group__input */
  &__input {
    width: 100%;
    border: 1px solid var(--gray-300, #9F9F9F);
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    background-color: transparent;
  }

  /* .head-news-group__btn */
  &__btn {
    flex: 1 1 auto;
    font-size: 20px;
    line-height: 150%;
    color: #FFF;
    background-color: $theme-color;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    @include media_from('md') {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.body-news-group {
  margin-bottom: 32px;
  /* .body-news-group__container */
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
  }

  /* .body-news-group__card */
  &__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /* .body-news-group__image */
  &__image {
    img {
      width: 100%;
    }
  }

  &__date {
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-500, #4F4F4F);

  }

  /* .body-news-group__subtitle */
  &__subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

  }

  /* .body-news-group__descr */
  &__descr {
    margin: 0;
    font-size: 16px;
    line-height: 150%;

  }
}
