.photo-album-specific__main {
    .photo-album-specific__main__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 16px;
        @include media_from('md') {
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            margin-bottom: 20px;
        }
        @include media_from('xl') {
            font-weight: 600;
            font-size: 45px;
            line-height: 55px;
            margin-bottom: 21px;
        }
    }

    .photo-album-specific__main__text {
        max-width: 760px;
        margin-bottom: 24px;
        @include media_from('md') {
            margin-bottom: 32px;
        }
        @include media_from('xl') {
            margin-bottom: 56px;
        }
        p {
            font-size: 15px;
            line-height: 150%;
            @include media_from('md') {
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
            }
            @include media_from('xl') {
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
            }
        }
    }

    .preview-list {
        display: flex;
        flex-direction: column;

        @include media_from('sm') {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }
          @include media_from('lg') {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 30px;
        }
    }

    .preview-list__item {
        position: relative;
        width: 100%;
        min-width: 200px;
        height: 320px;
        border-radius: 10px;
        margin-bottom: 7px;

        &:last-of-type {
            margin-bottom: 0;
        }
        @include media_from('sm') {
            max-width: 350px;
            height: 310px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .photo-album-specific__main__pagination {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        
        .pagination {
            display: flex;
            align-items: center;
            button {
                width: 40px;
                height: 40px;
                background-color: transparent;
                margin-right: 6px;
                @include media_from('sm') {
                    width: 57px;
                    height: 57px;
                }

                &:last-of-type {
                    margin-right: 0;
                }
                svg {
                    width: 40px;
                    height: 40px;
                    @include media_from('sm') {
                        width: 57px;
                        height: 57px;
                    }
                }
            }
            .btn_first-page {
                position: relative;
                display: none;
                @include media_from('sm') {
                    display: block;
                }
                svg {
                    position: absolute;
                    top: 0;
                    left: 0;

                    &:first-of-type {
                        left: -25px;
                    }
                }
                &:disabled {
                    cursor: default;
                    svg {
                        opacity: 0.4;
                    }
                }
            }
            .btn_back {
                &:disabled {
                    cursor: default;
                    svg {
                        opacity: 0.4;
                    }
                }
            }
            .btn-page {
                border: 1px solid $theme-color;
                background-color: transparent;
                border-radius: 10px;
                font-weight: 600;
                font-size: 16px;
                line-height: 23px;
                color: $font-color;
                @include media_from('sm') {
                    border: 2px solid $theme-color;
                    font-size: 20px;
                    line-height: 27px;
                }

                &:hover {
                    border: none;
                    background: $theme-color;
                    color: #FFFFFF;
                }
            }
            .active-btn {
                background: $theme-color;
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
                color: #FFFFFF;
                border: none;
            }
            .btn_forward {
                svg {
                    transform: rotate(180deg);
                }
                &:disabled {
                    cursor: default;
                    svg {
                        opacity: 0.4;
                    }
                }
            }
            .btn_last-page {
                position: relative;
                display: none;
                @include media_from('sm') {
                    display: block;
                }
                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotate(180deg);

                    &:first-of-type {
                        left: 25px;
                    }
                }
                &:disabled {
                    cursor: default;
                    svg {
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}
