@import "../../components/bread-crumb/bread-crumb.scss";
@import "../../components/fancybox/fancybox.scss";
@import "../../components/pagination/pagination.scss";

.photo-album-specific {
  &__description {
    @include media_from('xl') {
      font-size: 20px;
      line-height: 27px;
    }
    margin-bottom: 20px;
  }

  &__main__pagination {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
    @include block-padding-bottom;
}
