<footer class="footer">
    <div class="container">
        <div class="row justify-content-between footer__container">
            <div class="col-8 col-sm-7 col-md-9 col-xl-8">
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-3">
                        <a href="/"><img src="images/logo.svg" alt="logo" class="footer__logo"/></a>
                    </div>
                    <div class="col-12 col-md-7 col-lg-9">
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="footer__contact_item">
                                    <a href="tel:+79536952867" target="_blank">
                                        <svg class="svg-icon">
                                            <use href="images/svg/symbol/svg/sprite.symbol.svg#phone"></use>
                                        </svg>
                                        +79536952867
                                    </a>
                                </div>
                                <div class="footer__contact_item">
                                    <a href="mailto:mporoshin@yandex.ru" target="_blank">
                                        <svg class="svg-icon">
                                            <use href="images/svg/symbol/svg/sprite.symbol.svg#envelope"></use>
                                        </svg>
                                        mporoshin@yandex.ru
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <h4 class="footer__social-title">Мы в социальных сетях</h4>
                                <div class="footer__social-networks">
                                    <a href="#" target="_blank">
                                        <svg class="svg-icon svg-icon_size_xl">
                                            <use href="images/svg/symbol/svg/sprite.symbol.svg#vk"></use>
                                        </svg>
                                    </a>
                                    <a href="#" target="_blank">
                                        <svg class="svg-icon svg-icon_size_xl">
                                            <use href="images/svg/symbol/svg/sprite.symbol.svg#whatsapp"></use>
                                        </svg>
                                    </a>
                                    <a href="#" target="_blank">
                                        <svg class="svg-icon svg-icon_size_xl">
                                            <use href="images/svg/symbol/svg/sprite.symbol.svg#viber"></use>
                                        </svg>
                                    </a>
                                    <a href="#" target="_blank">
                                        <svg class="svg-icon svg-icon_size_xl">
                                            <use href="images/svg/symbol/svg/sprite.symbol.svg#telegram"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-5 col-md-3 col-xl-4">
                <ul class="footer-nav">
                    <li class="footer-nav__item">
                        <a href="#">О нас</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#">Имена</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#">Галерея</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#">Новости</a>
                    </li>
                    <li class="footer-nav__item">
                        <a class="footer__link" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <svg class="svg-icon svg-icon_size_xs">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#copyright"></use>
            </svg>
            Поисковый отряд Факел 2000-2023
        </div>
    </div>
</footer>