.btn {
  padding: 0.375rem 0.75rem;
  background: $btn-background-color;
  border-radius: 0.25rem;
  color: $btn-with-background-font-color;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: $btn-with-background-font-color;
    transition: 0.1s all;
    box-shadow: 0 0 5px $btn-background-color;
  }

  &_outline {
    background: none;
    color: $font-color;
    border: 1px solid $btn-border-color;

    &:hover {
      color: $font-color;
    }
  }
  &_xl {
    padding: 15px 40px;
    font-size: $btn-xl-font-size-display-xs;
    font-weight: 600;
    border-radius: 10px;
    @include media_from('lg') {
      font-size: $btn-xl-font-size-display-lg;
    }

    &:hover {
      transition: 0.1s all;
      box-shadow: 0 0 10px $btn-background-color;
    }
  }
}
