.about-details {
  @include block-padding-bottom;

  #about-details__more {
    display: none;
    @include media_from('sm') {
      display: inline;
    }
  }

  #about-details__more-btn {
    display: inline;
    color: $theme-color;
    background-color: inherit;
    @include media_from('sm') {
      display: none;
    }
  }
}

.about-gallery {
  @include block-padding-bottom;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    flex: 1 1 250px;
    @include media_from('lg') {
      flex: 1 1 350px;
    }
    @include media_from('xl') {
      flex: 1 1 250px;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      max-height: 250px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
