.story-card {
  @include media_from('md') {
    display: flex;
    gap: 30px;
  }

  &__text {
  }

  &__author {
    font-weight: 600;
    text-align: end;
    padding-right: 1em;
  }

  &__img {
    text-align: center;
    margin-bottom: 20px;
    flex: 1 0 auto;

    img {
      width: 100%;
      max-width: 300px;
      border-radius: 5px;
    }

    @include media_from('md') {
      margin-bottom: 0;
      text-align: left;
    }
  }
}

.about-stories {
  background-color: #F3F3F3;
  @include block-padding;

  &__slider {
    position: relative;
  }

  &__navigation {
    display: none;
    @include media_from('lg') {
      display: block;
    }

    button {
      background-color: transparent;
    }

    position: absolute;
    text-align: right;
    top: -60px;
    right: 0;
    @include media_from('lg') {
      display: block;
    }

    &-prev, &-next {
      width: 48px;
      height: 48px;
      border: 2px solid $theme-color;
      border-radius: 10px;
      transition: filter .5s ease 0s;
      outline: none;

      &:hover, &:focus-visible {
        transition: 0.3s all;
        box-shadow: 0 0 10px $theme-color;
      }
    }

    &-next {
      margin-left: 10px;
    }
  }
}

.about-media {
  @include block-padding;
}
