.bread-crumb-block {
  margin-bottom: 30px;
  margin-top: 30px;
  @include media_from('sm') {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  @include media_from('lg') {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .bread-crumb {
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      white-space: nowrap;
      @include media_from('sm') {
        font-size: 14px;
        line-height: 150%;
      }
      @include media_from('lg') {
        font-size: 16px;
        line-height: 150%;
      }

      a {
        text-decoration: none;

        &:hover {
          color: $theme-color;
        }
      }
    }

    svg {
      min-width: 20px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  .active-crumb {
    color: $theme-color;
  }
}
