<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Аудиозаписи</title>
  </head>
  <body>
    <header class="header">
      <%= require('raw-loader!./layout/header/branding.html').default %>
    </header>
    <main></main>
    <footer><%= require('raw-loader!./layout/footer.html').default %></footer>
  </body>
  <%= require('raw-loader!./layout/bottom-scripts.html').default %>
</html>
