<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Аудиозаписи</title>
  </head>
  <body>
    <header class="header">
      <%= require('raw-loader!./layout/header/branding.html').default %>
    </header>
    <main>
      <div class="audio-album">
        <div class="audio-album-container">
          <section class="bread-crumb-block">
            <ul class="bread-crumb">
              <li><a href="#">Главная</a></li>
              <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
              </svg>
              <li><a href="#">Галерея</a></li>
              <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
              </svg>
              <li class="active-crumb">Аудиозаписи</li>
            </ul>
          </section>
          <section class="audio-album__main">
            <h2 class="audio-album__main__title">Аудиозаписи</h2>
            <ul class="audio-album-preview-list">
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <a href=""></a>
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img
                    src="images/audio-album/Миша Порошин - Волховская застольная.jpg"
                    alt="Фото"
                  />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин - Волховская застольная <span>(муз. И. Любан, сл. П. Шубин)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img src="images/audio-album/Миша Порошин - Эх, дороги.jpg" alt="Фото" />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин - Эх, дороги…<span>(Муз. А. Новиков, сл. Л. Ошанин)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img src="images/audio-album/Миша Порошин - Женька.jpg" alt="Фото" />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин - Женька. <span>(Муз. Е. Жарковский , сл. К. Ваншенкин)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img src="images/audio-album/Миша Порошин - Колоколенка.jpg" alt="Фото" />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин - Колоколенка <span>(Муз. и сл. Л. Сергеев)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img
                    src="images/audio-album/Миша Порошин - На безымянной высоте (из хф “Тишина”).jpg"
                    alt="Фото"
                  />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин - На безымянной высоте (из х/ф “Тишина”)
                    <span>(Муз. В. Баснер, сл. М. Матусовский)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img
                    src="images/audio-album/Миша Порошин - Нам нужна одна Победа.jpg"
                    alt="Фото"
                  />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин - Нам нужна одна Победа <span>(Муз. и сл. Б. Окуджава)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img src="images/audio-album/Миша Порошин - Облака.jpg" alt="Фото" />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин - Облака <span>(Муз. и сл. Вадим Егоров)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img src="images/audio-album/Миша Порошин - Помни войну.jpg" alt="Фото" />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин - Помни войну. <span>(Муз. и сл. Ю. Визбор)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img
                    src="images/audio-album/Миша Порошин - Туман. (Из кф “Хроника пикирующего бомбардировщика”).jpg"
                    alt="Фото"
                  />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин - Туман. (Из к/ф “Хроника пикирующего бомбардировщика”)
                    <span>(Муз. А. Колкер, сл. К. Рыжов)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img src="images/audio-album/Миша Порошин – В землянке.jpg" alt="Фото" />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин – В землянке. <span>(Муз. К. Листов, сл. А. Сурков)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img src="images/audio-album/Миша Порошин — Гимн Долины.jpg" alt="Фото" />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин — Гимн Долины <span>(Муз. и сл. И. Щукин)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
              <li class="audio-album-preview-list__item">
                <div class="audio-album-preview-list__item__image">
                  <div class="audio-album-preview-list__item__gradient"></div>
                  <img src="images/audio-album/Миша Порошин — Рассказ ветерана.jpg" alt="Фото" />
                  <p class="audio-album-preview-list__item__name">
                    Миша Порошин — Рассказ ветерана. <span>(Муз. и сл. Ю. Визбор)</span>
                  </p>
                </div>
                <audio class="audio-album-preview-list__item__audio" src="" controls></audio>
              </li>
            </ul>
            <div class="audio-album__main__pagination">
              <div class="pagination">
                <button class="btn_first-page" disabled>
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <use
                      href="images/svg/symbol/svg/sprite.symbol.svg#pagination-db-arrow-right"
                    ></use>
                  </svg>
                </button>
                <button class="btn_back" disabled>
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <use href="images/svg/symbol/svg/sprite.symbol.svg#pagination-arrow-left"></use>
                  </svg>
                </button>
                <button class="btn-page active-btn">1</button>
                <button class="btn-page">2</button>
                <button class="btn-page">3</button>
                <button class="btn_forward">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <use
                      href="images/svg/symbol/svg/sprite.symbol.svg#pagination-arrow-right"
                    ></use>
                  </svg>
                </button>
                <button class="btn_last-page">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <use
                      href="images/svg/symbol/svg/sprite.symbol.svg#pagination-db-arrow-right"
                    ></use>
                  </svg>
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <footer><%= require('raw-loader!./layout/footer.html').default %></footer>
  </body>
  <%= require('raw-loader!./layout/bottom-scripts.html').default %>
</html>
