<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>
<body>
<header class="header">
    <%= require('raw-loader!./layout/header/branding.html').default %>
</header>
<main>
    <section class="bread-crumb-block container">
        <ul class="bread-crumb">
            <li><a href="#">Главная</a></li>
            <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
            </svg>
            <li><a href="/names.html">Имена</a></li>
            <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
            </svg>
            <li class="active-crumb">Феноберцев Роман Филиппович</li>
        </ul>
    </section>
    <section class="info-main-details">
        <div class="container">
            <div class="info-main-details__container">
                <h1>Феноберцев Роман Филиппович</h1>
                <div class="info-main-details__content">
                    <div class="info-main-details__image">
                        <img src="images/man-one.png" alt="Феноберцев Роман Филиппович">
                    </div>
                    <div class="info-main-details__inner">
                        <ul class="info-main-details__list list-info-main">
                            <li class="list-info-main__item">
                                <strong>
                                    Дата рождения:
                                </strong>
                                1916 г.
                            </li>
                            <li class="list-info-main__item">
                                <strong>
                                    Воинское звание и часть:
                                </strong>
                                Красноармеец 312 сп, 26 сп, связист.
                            </li>
                            <li class="list-info-main__item">
                                <strong>
                                    Место рождения:
                                </strong>
                                Смоленская обл., Руднянский р-н, д. Пожавская
                            </li>
                            <li class="list-info-main__item">
                                <strong>
                                    Место проживания:
                                </strong>
                                г. Красноярск, ул. Ломоносова, барак № 13
                            </li>
                            <li class="list-info-main__item">
                                <strong>
                                    Родственники:
                                </strong>
                                Отец — Филипп Петрович (адрес тот же)
                                Жена — Мотостанская Анна Г. Адрес жены: г. Красноярск, ул. 1905 года, д. 6, кв. 1.
                            </li>
                            <li class="list-info-main__item">
                                <strong>
                                    Дата и место призыва:
                                </strong>
                                Кагановический РВК Красноярского края
                            </li>
                            <li class="list-info-main__item">
                                <strong>
                                    Выбыл:
                                </strong>
                                По информации из донесения о безвозвратных потерях Роман Филиппович пропал без вести 29
                                апреля 1942 года в Старорусском районе.
                            </li>
                            <li class="list-info-main__item">
                                <strong>
                                    Найден:
                                </strong>
                                1 октября 1942 года. Родственники найдены.
                            </li>
                            <li class="list-info-main__item">
                                <strong>
                                    Похоронен:
                                </strong>
                                3 декабря 2022 года на Бадалыкском кладбище г. Красноярска рядом с могилой сестры
                                Чириной
                                (Феноберцевой) Зои Филипповны.
                            </li>
                        </ul>
                        <ul class="info-main-details__awards awards-info-main">
                            <li class="awards-info-main__image">
                                <a href="#" target="_blank">
                                    <img src="images/detailsPage/awards-1.jpg"
                                         alt="Награды">
                                </a>
                            </li>
                            <li class="awards-info-main__image">
                                <a href="#" target="_blank">
                                    <img src="images/detailsPage/awards-2.jpg" alt="Награды">
                                </a>
                            </li>
                            <li class="awards-info-main__image">
                                <a href="#" target="_blank">
                                    <img src="images/detailsPage/awards-3.jpg" alt="Награды">
                                </a>
                            </li>
                            <li class="awards-info-main__image">
                                <a href="#" target="_blank">
                                    <img src="images/detailsPage/awards-4.jpg" alt="Награды">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="media-main-details">
        <div class="container">
            <h2>Фотографии</h2>
            <div class="media-main-details__slider">
                <div class="media-main-details__btns search-btn-swiper">
                    <button class="search-btn-swiper__prev">
                        <svg width="30" height="30" viewBox="0 0 30 30">
                            <use href="images/svg/symbol/svg/sprite.symbol.svg#swiper-gallery-arrow-left">
                            </use>
                        </svg>
                    </button>
                    <button class="search-btn-swiper__next">
                        <svg width="30" height="30" viewBox="0 0 30 30">
                            <use href="images/svg/symbol/svg/sprite.symbol.svg#swiper-gallery-arrow-right">
                            </use>
                        </svg>
                    </button>
                </div>
                <div class="swiper">
                    <div class="media-main-details__wrapper swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="media-main-details__slide slide-media-details" data-fancybox="photo-gallery" data-src="images/detailsPage/Фото-1.jpg" data-caption="Феноберцев Роман Филиппович">
                                <div class="slide-media-details__info">
                                    <img src="images/detailsPage/Фото-1.jpg"
                                         class="slide-media-details__image"
                                         alt="Фотография">
                                    <div class="slide-media-details__name">
                                        Феноберцев Роман Филиппович
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-main-details__slide slide-media-details swiper-slide">
                            <div class="slide-media-details__info">
                                <img src="images/detailsPage/Фото-2.jpg"
                                     class="slide-media-details__image"
                                     alt="Фотография">
                                <div class="slide-media-details__name">
                                    Запись, сделанная рукой Феноберцева Р.Ф.
                                </div>
                            </div>
                        </div>
                        <div class="media-main-details__slide slide-media-details swiper-slide">
                            <div class="slide-media-details__info">
                                <img src="images/detailsPage/Фото-3.jpg"
                                     class="slide-media-details__image"
                                     alt="Фотография">
                                <div class="slide-media-details__name">
                                    Записка из медальона
                                </div>
                            </div>
                        </div>
                        <div class="media-main-details__slide slide-media-details swiper-slide">
                            <div class="slide-media-details__info">
                                <img src="images/detailsPage/Фото-4.jpg"
                                     class="slide-media-details__image"
                                     alt="Фотография">
                                <div class="slide-media-details__name">
                                    Личные вещи
                                </div>
                            </div>
                        </div>
                        <div class="media-main-details__slide slide-media-details swiper-slide">
                            <div class="slide-media-details__info">
                                <img src="images/detailsPage/Фото-5.jpg"
                                     class="slide-media-details__image"
                                     alt="Фотография">
                                <div class="slide-media-details__name">
                                    Торжественное захоронение
                                </div>
                            </div>
                        </div>
                        <div class="media-main-details__slide slide-media-details swiper-slide">
                            <div class="slide-media-details__info">
                                <img src="images/detailsPage/Фото-6.jpg"
                                     class="slide-media-details__image"
                                     alt="Фотография">
                                <div class="slide-media-details__name">
                                    Информация из донесения о безвозвратных потерях 25 сд по состоянию на 30 мая 1942 г.
                                </div>
                            </div>
                        </div>
                        <div class="media-main-details__slide slide-media-details swiper-slide">
                            <div class="slide-media-details__info">
                                <img src="images/detailsPage/Фото-7.jpg" class="slide-media-details__image"
                                     alt="Фотография">
                                <div class="slide-media-details__name">
                                    Именной список участников Великой Отечественной войны, от которых родственники
                                    не имеют
                                    сведений
                                </div>
                            </div>
                        </div>
                        <div class="media-main-details__slide slide-media-details swiper-slide">
                            <div class="slide-media-details__info">
                                <img src="images/detailsPage/Фото-8.jpg" class="slide-media-details__image"
                                     alt="Фотография">
                                <div class="slide-media-details__name">
                                    Именной список безвозвратных потерях 312 сп 26 сд по состоянию на 19 мая 1942 г.
                                </div>
                            </div>
                        </div>
                        <div class="media-main-details__slide slide-media-details swiper-slide">
                            <div class="slide-media-details__info">
                                <img src="images/detailsPage/Фото-9.jpg" class="slide-media-details__image"
                                     alt="Фотография">
                                <div class="slide-media-details__name">
                                    Книга памяти. Красноярский край. Том 1
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media-main-details__pagination"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="documents-main-details">
        <div class="documents-main-details__container container">
            <h2>Документы</h2>
            <div class="documents-main-details__content">
                <ul class="documents-main-details__list">
                    <li class="documents-main-details__item item-documents-details">
                        <div class="item-documents-details__image">
                            <img src="images/detailsPage/docs.png" alt="docs">
                        </div>
                        <div class="item-documents-details__texts">
                            <a href="" class="item-documents-details__download">
                                Информация из донесения о безвозвратных потерях 25 сд по состоянию на 30 мая 1942 г.
                                Источник информации: ЦАМО ф. 58, оп. 818883, д. 167.
                            </a>
                            <div class="item-documents-details__size">
                                PDF (262 КБ)
                            </div>
                        </div>
                    </li>
                    <li class="documents-main-details__item item-documents-details">
                        <div class="item-documents-details__image">
                            <img src="images/detailsPage/docs.png" alt="docs">
                        </div>
                        <div class="item-documents-details__texts">
                            <a href="" class="item-documents-details__download">
                                Именной список участников Великой Отечественной войны, от которых родственники не имеют
                                сведений. Источник информации: ЦАМО ф. 58, оп. 977520, д. 26.
                            </a>
                            <div class="item-documents-details__size">
                                PDF (270 КБ)
                            </div>
                        </div>
                    </li>
                    <li class="documents-main-details__item item-documents-details">
                        <div class="item-documents-details__image">
                            <img src="images/detailsPage/docs.png" alt="docs">
                        </div>
                        <div class="item-documents-details__texts">
                            <a href="" class="item-documents-details__download">
                                Именной список безвозвратных потерях 312 сп 26 сд по состоянию на 19 мая 1942 г.
                                Источник информации: ЦАМО ф. 6864, оп. 261227, д. 1.
                            </a>
                            <div class="item-documents-details__size">
                                PDF (262 КБ)
                            </div>
                        </div>
                    </li>
                    <li class="documents-main-details__item item-documents-details">
                        <div class="item-documents-details__image">
                            <img src="images/detailsPage/docs.png" alt="docs">
                        </div>
                        <div class="item-documents-details__texts">
                            <a href="" class="item-documents-details__download">
                                Книга памяти. Красноярский край. Том 1
                            </a>
                            <div class="item-documents-details__size">
                                PDF (360 КБ)
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="soldier-mass-media mass-media-details">
        <div class="mass-media-details__container container">
            <h2>СМИ о бойце</h2>
            <div class="mass-media-details__content">
                <div class="mass-media-details__cards">
                    <div class="mass-media-details__card cards-mass-media">
                        <div class="cards-mass-media__image">
                            <img src="images/detailsPage/card-1.jpg" alt="Фотография">
                        </div>
                        <a href="#" target="_blank" class="cards-mass-media__subtitle">
                            Поисковики нашли родственников солдата, пропавшего без вести в 1942г.
                        </a>
                        <div class="cards-mass-media__descr">
                            Поисковики отряда «Факел» из города Киров, работая в ходе осеннего этапа межрегиональной
                            Вахты Памяти «Поисковой экспедиции «Долина», нашли останки семи солдат. Личность одного из
                            них установили по записке из смертного медальона, а позже удалось найти семью погибшего
                            бойца.
                        </div>
                    </div>
                    <div class="mass-media-details__card cards-mass-media">
                        <div class="cards-mass-media__image">
                            <img src="images/detailsPage/card-2.jpg" alt="Фотография">
                        </div>
                        <div class="cards-mass-media__subtitle">
                            «Отец, наш Ромка вернулся». В Красноярске похоронили останки красноармейца
                        </div>
                        <div class="cards-mass-media__descr">
                            Волнительное мероприятие прошло в День Неизвестного Солдата, 3 декабря, на Мемориале
                            Победы. В Красноярске на Бадалыкском кладбище были захоронены останки красноармейца
                            Феноберцева Романа Филипповича. 
                        </div>
                    </div>
                    <div class="mass-media-details__card cards-mass-media">
                        <div class="cards-mass-media__image">
                            <img src="images/detailsPage/card-2.jpg" alt="Фотография">
                        </div>
                        <div class="cards-mass-media__subtitle">
                            В Красноярске захоронили останки погибшего во время ВОВ солдата
                        </div>
                        <div class="cards-mass-media__descr">
                            В Красноярске захоронили останки солдата, погибшего во время Великой Отечественной войны,
                            призванного на воинскую службу с территории Красноярского края. 
                        </div>
                    </div>
                </div>
                <div class="mass-media-details__btns btns-mass-media-details">
                    <button class="btns-mass-media-details__btn">Больше новостей</button>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <%= require('raw-loader!./layout/footer.html').default %>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function () {
        Fancybox.bind('[data-fancybox]', {
            Thumbs: false,
        });
    });
</script>
</body>
</html>