<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Вахта памяти 2021</title>
</head>
<body>
<header class="header">
    <%= require('raw-loader!./layout/header/branding.html').default %>
</header>
<main>
    <section class="bread-crumb-block container">
        <ul class="bread-crumb">
            <li><a href="/">Главная</a></li>
            <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
            </svg>
            <li><a href="/gallery.html">Галерея</a></li>
            <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
            </svg>
            <li><a href="/photo-album.html">Фотоальбомы</a></li>
            <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
            </svg>
            <li class="active-crumb">Вахта памяти 2021</li>
        </ul>
    </section>
    <section class="photo-album-specific">
        <div class="container">
            <h1>Вахта памяти 2021</h1>
            <div class="row">
                <div class="col-12 col-lg-10 photo-album-specific__description">
                    Поисковые работы Весенней Вахты Памяти проводились с 24 апреля
                    по 8 мая в окрестностях Гридинской дороги — заброшенной лесной дороги от трассы
                    Демянск-Старая Русса к урочищу Гридино, в 6 км от д. Давыдово
                    и в 7 км от д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                    «Факел» г. Киров в составе 25 человек были обнаружены незахороненные верховые
                    останки 18 военнослужащих Красной Армии. При бойцах были обнаружены 7 смертных
                    медальонов.
                </div>
            </div>
            <div class="fancybox-grid">
                <a class="fancybox-grid__item" data-fancybox="photo-album" href="/images/photo-album-specific/Вахта Памяти 2021/1.jpg" data-caption="Заголовок">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/1.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_2">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/2.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_3">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/3.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_4">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/4.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_5">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/5.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_6">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/6.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_7">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/7.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_8">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/8.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_9">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/9.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_10">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/10.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_11">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/11.jpg" alt="Фото"/>
                </a>
                <a class="fancybox-grid__item" data-fancybox="photo-album" data-src="#popup_12">
                    <img src="images/photo-album-specific/Вахта Памяти 2021/12.jpg" alt="Фото"/>
                </a>
            </div>
            <div class="photo-album-specific__main__pagination pagination-block">
                <div class="pagination">
                    <span class="btn_back">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <use href="images/svg/symbol/svg/sprite.symbol.svg#pagination-arrow-left"></use>
                        </svg>
                    </span>
                    <a href="#" class="btn-page">1</a>
                    <span class="btn-page active-btn">2</span>
                    <a href="#" class="btn-page">3</a>
                    <span class="btn-page">...</span>
                    <a href="#" class="btn-page">5</a>
                    <a href="#" class="btn_forward">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <use
                                    href="images/svg/symbol/svg/sprite.symbol.svg#pagination-arrow-right"
                            ></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<footer><%= require('raw-loader!./layout/footer.html').default %></footer>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script>
    Fancybox.bind('[data-fancybox]', {
        Thumbs: false,
    });
</script>
<%= require('raw-loader!./layout/bottom-scripts.html').default %>
</body>
</html>
