<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Вахта памяти 2021</title>
  </head>
  <body>
    <header class="header">
      <%= require('raw-loader!./layout/header/branding.html').default %>
    </header>
    <main>
      <div class="photo-album-specific">
        <div class="photo-album-specific-container">
          <section class="bread-crumb-block">
            <ul class="bread-crumb">
              <li><a href="#">Главная</a></li>
              <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
              </svg>
              <li><a href="#">Галерея</a></li>
              <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
              </svg>
              <li><a href="#">Фотоальбомы</a></li>
              <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
              </svg>
              <li class="active-crumb">Вахта памяти 2021</li>
            </ul>
          </section>
          <section class="photo-album-specific__main">
            <h2 class="photo-album-specific__main__title">"Вахта памяти 2021"</h2>
            <div class="photo-album-specific__main__text">
              <p>
                Поисковые работы Весенней Вахты Памяти проводились с 24 апреля
                по 8 мая в окрестностях Гридинской дороги — заброшенной лесной дороги от трассы
                Демянск-Старая Русса к урочищу Гридино, в 6 км от д. Давыдово
                и в 7 км от д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                «Факел» г. Киров в составе 25 человек были обнаружены незахороненные верховые
                останки 18 военнослужащих Красной Армии. При бойцах были обнаружены 7 смертных
                медальонов.
              </p>
            </div>
            <div class="fancybox-grid">
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_1">
                <img src="images/photo-album-specific/Вахта Памяти 2021/1.jpg" alt="Фото" />
              </button>
              <div id="popup_1" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_2">
                <img src="images/photo-album-specific/Вахта Памяти 2021/2.jpg" alt="Фото" />
              </button>
              <div id="popup_2" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_3">
                <img src="images/photo-album-specific/Вахта Памяти 2021/3.jpg" alt="Фото" />
              </button>
              <div id="popup_3" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_4">
                <img src="images/photo-album-specific/Вахта Памяти 2021/4.jpg" alt="Фото" />
              </button>
              <div id="popup_4" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_5">
                <img src="images/photo-album-specific/Вахта Памяти 2021/5.jpg" alt="Фото" />
              </button>
              <div id="popup_5" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_6">
                <img src="images/photo-album-specific/Вахта Памяти 2021/6.jpg" alt="Фото" />
              </button>
              <div id="popup_6" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_7">
                <img src="images/photo-album-specific/Вахта Памяти 2021/7.jpg" alt="Фото" />
              </button>
              <div id="popup_7" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_8">
                <img src="images/photo-album-specific/Вахта Памяти 2021/8.jpg" alt="Фото" />
              </button>
              <div id="popup_8" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_9">
                <img src="images/photo-album-specific/Вахта Памяти 2021/9.jpg" alt="Фото" />
              </button>
              <div id="popup_9" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_10">
                <img src="images/photo-album-specific/Вахта Памяти 2021/10.jpg" alt="Фото" />
              </button>
              <div id="popup_10" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_11">
                <img src="images/photo-album-specific/Вахта Памяти 2021/11.jpg" alt="Фото" />
              </button>
              <div id="popup_11" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="fancybox-grid__item" data-fancybox="gallery" data-src="#popup_12">
                <img src="images/photo-album-specific/Вахта Памяти 2021/12.jpg" alt="Фото" />
              </button>
              <div id="popup_12" style="display: none" class="fancybox__content">
                <div class="popup__body">
                  <div class="popup__content">
                    <div class="popup__image">
                      <img
                        src="images/photo-album-specific/popup/Вахта памяти 2021.jpg"
                        alt="Фото"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <div class="popup__title">
                      <h3>"Вахта памяти 2021"</h3>
                    </div>
                    <div class="popup__text">
                      <p>
                        Поисковые работы Весенней Вахты Памяти проводились с 24 апреля по 8 мая в
                        окрестностях Гридинской дороги – заброшенной лесной дороги от трассы
                        Демянск-Старая Русса к урочищу Гридино, в  6 км от д. Давыдово и в 7 км от
                        д. Рамушево Старорусского района Новгородской области. Поисковым отрядом
                        «Факел» г. Киров в составе 25 человек были обнаружены незахороненные
                        верховые останки 18 военнослужащих Красной Армии. При бойцах были обнаружены
                        7  смертных медальонов.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="photo-album-specific__main__pagination">
              <div class="pagination">
                <button class="btn_first-page" disabled>
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <use
                      href="images/svg/symbol/svg/sprite.symbol.svg#pagination-db-arrow-right"
                    ></use>
                  </svg>
                </button>
                <button class="btn_back" disabled>
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <use href="images/svg/symbol/svg/sprite.symbol.svg#pagination-arrow-left"></use>
                  </svg>
                </button>
                <button class="btn-page active-btn">1</button>
                <button class="btn-page">2</button>
                <button class="btn-page">3</button>
                <button class="btn_forward">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <use
                      href="images/svg/symbol/svg/sprite.symbol.svg#pagination-arrow-right"
                    ></use>
                  </svg>
                </button>
                <button class="btn_last-page">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <use
                      href="images/svg/symbol/svg/sprite.symbol.svg#pagination-db-arrow-right"
                    ></use>
                  </svg>
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <footer><%= require('raw-loader!./layout/footer.html').default %></footer>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script>
      Fancybox.bind('[data-fancybox]', {
        Thumbs: false,
      });
    </script>
  </body>
  <%= require('raw-loader!./layout/bottom-scripts.html').default %>
</html>
