<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
<header class="header">
    <%= require('raw-loader!./layout/header/branding.html').default %>
</header>
<main>
    <section class="bread-crumb-block container">
        <ul class="bread-crumb">
            <li><a href="/">Главная</a></li>
            <svg fill="none" width="20" height="20" viewBox="0 0 24 24">
                <use href="images/svg/symbol/svg/sprite.symbol.svg#arrow-bread-crumbs"></use>
            </svg>
            <li class="active-crumb">Результаты поиска
            </li>
        </ul>
    </section>
    <section class="search">
        <div class="container">
            <h1>
                Результаты поиска
            </h1>
            <form class="search__form">
                <div class="search__form-fields">
                    <input autocomplete="off" value="Новости" type="text" name="form[]"
                           placeholder="Поиск" class="search__input">
                    <button class="search__btn">Искать</button>
                </div>
                <div class="invalid-feedback d-block">
                    Значение слишком короткое. Должно быть равно 3 символам или больше.
                </div>
            </form>
            <ol class="body-search__content">
                <li class="body-search__item item-body-search">
                    <a href="#" class="item-body-search__title">Феноберцев Роман Филиппович</a>
                    <div class="item-body-search__descr">Дата рождения: 1916 г. Воинское звание и часть: Красноармеец
                        312
                        сп, 26 сп, связист. Место рождения: Смоленская обл., Руднянский р-н, д. Пожавская...
                    </div>
                </li>
                <li class="body-search__item item-body-search">
                    <strong class="item-body-search__title">Поисковики нашли родственников солдата, пропавшего без вести
                        в 1942г.</strong>
                    <p class="item-body-search__descr">Поисковики отряда «Факел» из города Киров, работая в ходе
                        осеннего этапа межрегиональной Вахты Памяти «Поисковой экспедиции «Долина», нашли останки...<a
                                href="#">Перейти</a></p>
                </li>
                <li class="body-search__item item-body-search">
                    <strong class="item-body-search__title">«Отец, наш Ромка вернулся». В Красноярске похоронили
                        останки...</strong>
                    <p class="item-body-search__descr">Волнительное мероприятие прошло в День Неизвестного Солдата, 3
                        декабря, на Мемориале Победы. В Красноярске на Бадалыкском кладбище были захоронены останки...
                        <a href="#">Перейти</a></p>
                </li>
                <li class="body-search__item item-body-search">
                    <strong class="item-body-search__title">В Красноярске захоронили останки погибшего во время ВОВ
                        солдата</strong>
                    <p class="item-body-search__descr">В Красноярске захоронили останки солдата, погибшего во время
                        Великой Отечественной войны, призванного на воинскую службу с территории Красноярского края. <a
                                href="#">Перейти</a></p>
                </li>
                <li class="body-search__item item-body-search">
                    <strong class="item-body-search__title">В Красноярске захоронили останки погибшего во время ВОВ
                        солдата</strong>
                    <p class="item-body-search__descr">В Красноярске захоронили останки солдата, погибшего во время
                        Великой Отечественной войны, призванного на воинскую службу с территории Красноярского края. <a
                                href="#">Перейти</a></p>
                </li>
                <li class="body-search__item item-body-search">
                    <strong class="item-body-search__title">В Красноярске захоронили останки погибшего во время ВОВ
                        солдата</strong>
                    <p class="item-body-search__descr">В Красноярске захоронили останки солдата, погибшего во время
                        Великой Отечественной войны, призванного на воинскую службу с территории Красноярского края. <a
                                href="#">Перейти</a></p>
                </li>
                <li class="body-search__item item-body-search">
                    <strong class="item-body-search__title">В Красноярске захоронили останки погибшего во время ВОВ
                        солдата</strong>
                    <p class="item-body-search__descr">В Красноярске захоронили останки солдата, погибшего во время
                        Великой Отечественной войны, призванного на воинскую службу с территории Красноярского края. <a
                                href="#">Перейти</a></p>
                </li>
            </ol>
        </div>
    </section>
</main>
<footer class="wrapper-names__footer">
    <%= require('raw-loader!./layout/footer.html').default %>
</footer>
</body>
</html>