<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Видео</title>
  </head>
  <body>
    <header class="header">
      <%= require('raw-loader!./layout/header/branding.html').default %>
    </header>
    <main>
      <div class="video-album">
        <div class="container">
          <section class="video-album__bread-crumb">
            <ul class="bread-crumb">
              <li><a href="#">Главная</a></li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M9 18L15 12L9 6"
                  stroke="#202020"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <li><a href="#">Галерея</a></li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M9 18L15 12L9 6"
                  stroke="#202020"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <li class="active-crumb">Видео</li>
            </ul>
          </section>
        </div>
      </div>
    </main>
    <footer><%= require('raw-loader!./layout/footer.html').default %></footer>
  </body>
  <%= require('raw-loader!./layout/bottom-scripts.html').default %>
</html>
