<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Видео</title>
  </head>
  <body>
    <header class="header">
      <%= require('raw-loader!./layout/header/branding.html').default %>
    </header>
    <main>
      <div class="video-album">
        <div class="container">
          <section class="video-album__bread-crumb">
            <ul class="bread-crumb">
              <li><a href="#">Главная</a></li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M9 18L15 12L9 6"
                  stroke="#202020"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <li><a href="#">Галерея</a></li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M9 18L15 12L9 6"
                  stroke="#202020"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <li class="active-crumb">Видео</li>
            </ul>
          </section>
          <section class="video-album__main">
            <h2 class="video-album__main__title">Видео</h2>
            <ul class="preview-list">
              <li class="preview-list__item">
                <a href="#"></a>
                <img src="images/video-album/Экспедиция  2020 Часть 1 Блиндаж.jpg" alt="Фото" />
                <span class="preview-list__item__name"
                  >Экспедиция  2020<br />
                  Часть 1 Блиндаж</span
                >
              </li>
              <li class="preview-list__item">
                <a href="#"></a>
                <img src="images/video-album/Экспедиция  2020 Часть 2 Офицер.jpg" alt="Фото" />
                <span class="preview-list__item__name"
                  >Экспедиция 2020<br />
                  Часть 2 Офицер</span
                >
              </li>
              <li class="preview-list__item">
                <a href="#"></a>
                <img
                  src="images/video-album/Экспедиция  2020 Часть 3 Последний бой.jpg"
                  alt="Фото"
                />
                <span class="preview-list__item__name"
                  >Экспедиция 2020<br />
                  Часть 3 Последний бой</span
                >
              </li>
              <li class="preview-list__item">
                <a href="#"></a>
                <img
                  src="images/video-album/Экспедиция Вахта 2021 Мемориальная работа.jpg"
                  alt="Фото"
                />
                <span class="preview-list__item__name"
                  >Экспедиция Вахта 2021<br />
                  Мемориальная работа</span
                >
              </li>
              <li class="preview-list__item">
                <a href="#"></a>
                <img
                  src="images/video-album/Экспедиция Вахта - 2019 ч. 1 Растворились в болоте.jpg"
                  alt="Фото"
                />
                <span class="preview-list__item__name"
                  >Экспедиция Вахта - 2019<br />
                  ч. 1 Растворились в болоте</span
                >
              </li>
              <li class="preview-list__item">
                <a href="#"></a>
                <img
                  src="images/video-album/Экспедиция Вахта - 2019 ч. 2 Мемориальная работа.jpg"
                  alt="Фото"
                />
                <span class="preview-list__item__name"
                  >Экспедиция Вахта - 2019<br />
                  ч. 2 Мемориальная работа</span
                >
              </li>
              <li class="preview-list__item">
                <a href="#"></a>
                <img src="images/video-album/Экспедиция Вахта 2019 ч. 3 Ручей.jpg" alt="Фото" />
                <span class="preview-list__item__name"
                  >Экспедиция Вахта 2019<br />
                  ч. 3 Ручей</span
                >
              </li>
            </ul>
            <div class="photo-album__main__pagination">
              <div class="pagination">
                <button class="btn_first-page" disabled>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                  >
                    <path
                      d="M24 29.5L34 19.5L24 9.5"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M6 29.5L16 19.5L6 9.5"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
                <button class="btn_back" disabled>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                  >
                    <path
                      d="M25 30L15 20L25 10"
                      stroke="#4F4F4F"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
                <button class="btn-page active-btn">1</button>
                <button class="btn-page">2</button>
                <button class="btn-page">3</button>
                <button class="btn_forward">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                  >
                    <path
                      d="M15 30L25 20L15 10"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
                <button class="btn_last-page">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                  >
                    <path
                      d="M24 29.5L34 19.5L24 9.5"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M6 29.5L16 19.5L6 9.5"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <footer><%= require('raw-loader!./layout/footer.html').default %></footer>
  </body>
  <%= require('raw-loader!./layout/bottom-scripts.html').default %>
</html>
