.top-search {
  display: flex;
  border: 1px solid $top-search-border-color;
  background: $top-search-background-color;
  border-radius: 5px;

  &:hover {
    border: 1px solid $theme-color;
  }

  &__input {
    width: 100%;
    margin-left: 15px;
    font-size: 16px;
    background: none;
    border: 0;
    color: $top-search-font-color;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $top-search-input-placeholder-color;
    }
  }

  &__submit {
    margin: 5px 10px 3px 5px;
    background: none;

    svg {
      width: 25px;
      height: 25px;
      fill: $top-search-font-color;
    }
  }
}