.search {
  font-size: 16px;
  @include media_from('md') {
    font-size: 18px;
  }
  @include block-padding-bottom;

  &__form {
    padding-bottom: 1.5rem;

    &-fields {
      display: flex;
      flex-direction: column;
      @include media_from('sm') {
        flex-direction: inherit;
      }
    }
  }

  &__input {
    flex: 1 1 auto;
    padding: 10px 20px;
    color: $font-color;
    line-height: 150%;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    margin-bottom: 1rem;
    @include media_from('sm') {
      border-right: none;
      border-radius: 5px 0 0 5px;
      margin-bottom: 0;
    }

    outline: none;
  }

  &__btn {
    padding: 15px 40px;
    color: #FFF;
    line-height: 150%;
    background-color: $theme-color;
    border-radius: 5px;
    @include media_from('sm') {
      border-radius: 0 5px 5px 0;
    }
  }
}

.body-search {
  &__content {
    padding-left: 16px;
    margin: 0;
  }

  &__item {
    &::marker {
      color: #9F9F9F;
      line-height: 150%;
    }
  }
}

.item-body-search {
  &:not(:last-child) {
    margin-bottom: 36px;
  }

  @include media_from('md') {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__title {
    display: block;
    color: $theme-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    @include media_from('md') {
      font-size: 20px;
    }
    padding-bottom: 0.5rem;
    text-decoration: none;
  }

  &__descr {
    margin: 0;
    color: #202020;
    line-height: 150%;

    a {
      text-decoration: none;
      color: $theme-color;
    }
  }
}
