/* .select:active {
  border: 1px solid #da8a3a;
  border-radius: 5px;
} */
/* .formElement {
  border: 1px solid #da8a3a !important;
  border-radius: 5px;
  --internal-light-dark: #da8a3a;
}
 */
.mwc-button {
  --mdc-theme-primary: red;
  --mdc-theme-on-primary: white;
  --mdc-button-outline-color: rgba(20, 20, 200, 0.2);
}
