.preview-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;

    @include media_from('sm') {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
      @include media_from('lg') {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}

.preview-list__item {
    position: relative;
    width: 100%;
    min-width: 200px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;

    @include media_from('sm') {
        height: 310px;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }

        .preview-list__item__name {
            transform: scale(1.1);
        }
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 5;
        text-decoration: none;
    }

    .preview-list__item__gradient {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background: linear-gradient(179.82deg, rgba(0, 0, 0, 0) 64.58%, rgba(0, 0, 0, 0.6) 79.64%);
        z-index: 3;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }

    .preview-list__item__name {
        position: absolute;
        left: 16px;
        bottom: 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        z-index: 4;
        transition: all 0.3s ease-in-out;
        @include media_from('sm') {
            font-size: 20px;
            line-height: 150%;
        }
        @include media_from('lg') {
            font-size: 16px;
            line-height: 21px;
        }
    }
}