.fancybox__container {
    --fancybox-bg: rgba(24, 24, 27, 0.7);

    .fancybox__carousel {
        .fancybox__slide  {
            padding: 0;
            @include media_from('sm') {
                padding: 20px;
            }
            .fancybox__content {
                position: relative;
                padding: 0;
                .popup__content {
                    background-color: #FFFFFF;
                    color: #000000;
                    max-width: 1180px;
                    position: relative;
                    @include media_from('sm') {
                        padding: 50px 20px 20px 20px;
                    }
                    @include media_from('lg') {
                        padding: 60px 30px;
                    }
        
                    .popup__video {
                        max-width: 1120px;
                        max-height: 640px;
                        position: relative;
        
                        iframe {
                            width: 100vw;
                            height: 500px;
                            vertical-align: top;
                            @include media_from('sm') {
                                width: 100%;
                            }
                            @include media_from('lg') {
                                height: 640px;
                            }
                        }
        
                    }
                    .popup__title {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        display: none;
                        @include media_from('sm') {
                            display: block;
                        }
                        h3 {
                            @include media_from('sm') {
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 150%;
                            }
                            @include media_from('lg') {
                                font-weight: 700;
                                font-size: 35px;
                                line-height: 43px;
                            }
                        }
                    }
                    .popup__text {
                        display: none;
                        @include media_from('sm') {
                            display: block;
                        }
                        p {
                            @include media_from('sm') {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 150%;
                            }
                            @include media_from('lg') {
                                font-size: 24px;
                                line-height: 29px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.fancybox__content>.f-button.is-close-btn {
    visibility: hidden;

    @include media_from('sm') {
        visibility: visible;
    }
}

.f-button.is-next {
    visibility: hidden;

    @include media_from('sm') {
        visibility: visible;
    }
}

.f-button.is-prev {
    visibility: hidden;

    @include media_from('sm') {
        visibility: visible;
    }
}