.video{
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;

  @media screen and (max-width: 320px) {
    margin-bottom: 112px;
  }
  .video_first {
    background-image: url(/images/gallery/Video_image_1.png);
  }
  .video_second {
    background-image: url(/images/galleryVideo_image_2.png);
  }
  .video_third {
    background-image: url(/images/gallery/Video_image_3.png);
  }
}