.video {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.video__title {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */
  color: #202020;
  margin-top: 56px;
  margin-bottom: 32px;
}

.video__image {
  width: 349px;
  height: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: filter 0.5s linear 0s;
}

.video__image:hover {
  filter: brightness(70%);
}

.video__image_first {
  background-image: url(./img/Video_image_1.png);
}
.video__image_second {
  background-image: url(./img/Video_image_2.png);
}
.video__image_third {
  background-image: url(./img/Video_image_3.png);
}

.video__description {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding-left: 16px;
  padding-bottom: 16px;
  max-width: 120px;
}

.video__button {
  width: 258px;
  height: 57px;
  background: #DA8A3A;
  border-radius: 10px;
  
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  align-self: center;
  margin-top: 48px;
  margin-bottom: 112px;
  border: none;
  cursor: pointer;
  transition: filter 0.5s linear 0s;
}
.video__button:hover {
  filter: brightness(80%);
}