:root {
    --blackTextColor: #202020;
}

.wrapper {
}
.wrapper-contacts {

    /* .wrapper-contacts__header */
    &__header {
        background: url('../images/bg-header.jpg') center center / cover no-repeat;
    }
    /* .wrapper-contacts__main */
    &__main {
        padding-bottom: 185px;
        @media (max-width: 991px){
            padding-bottom: 121px;
        }
        @media (max-width: 480px){
            padding-bottom: 85px;
        }
    }
    /* .wrapper-contacts__footer */
    &__footer {
    }
}
.breadcrumbs {

    /* .breadcrumbs__list */
    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    /* .breadcrumbs__item */
    &__item {
        position: relative;
        svg {
            position: absolute;
            top: 13px;
            right: -30px;
            transform: rotate(270deg);
            path {
                fill: #000;
            }
            @media (max-width: 991px){
                top: 11px;
            }
            @media (max-width: 480px){
                top: 9px;
            }
        }
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
    /* .breadcrumbs__link */
    &__link {
        font-family: var(--mdc-typography-font-family), Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        color: var(--blackTextColor);
        text-decoration: none;
        @media (any-hover: hover){
            &:focus-visible {
                color: #DA8A3A;
                outline: none;
            }
        }
        @media (max-width: 991px){
            font-size: 20px;
        }
        @media (max-width: 480px){
            font-size: 15px;
        }
    }
    /* .breadcrumbs__current */
    &__current {
        font-family: var(--mdc-typography-font-family), Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        color: var(--mdc-theme-primary);
        @media (max-width: 991px){
            font-size: 20px;
        }
        @media (max-width: 480px){
            font-size: 15px;
        }
    }
}