/* .section {
  margin-top: 155px;

  &__title-btn {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  &__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #202020;
  }
  &__btn {
    width: 349px;
    height: 70px;
    background: #da8a3a;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    @media (min-width: 768px) {
      width: 103px;
    }
    @media (min-width: 500px) {
      height: 60px;
      max-width: 280px;
    }
  }
  
}
 */