.photo-album__bread-crumb {
    margin-top: 24px;
    margin-bottom: 40px;
    @include media_from('sm') {
        margin-top: 40px;
        margin-bottom: 56px;
    }
    @include media_from('lg') {
        margin-top: 64px;
        margin-bottom: 72px;
    }

    .bread-crumb {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li {
            font-weight: 600;
            font-size: 15px;
            line-height: 150%;
            @include media_from('sm') {
                font-size: 20px;
                line-height: 150%;
            }
            @include media_from('lg') {
                font-size: 24px;
                line-height: 32px;
            }
            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        svg {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
    .active-crumb {
        color: $theme-color;
    }
}