@import "../../components/bread-crumb/bread-crumb.scss";
@import "../../components/preview-list/preview-list.scss";
@import "../../components/pagination/pagination.scss";

.photo-album__main {
  @include block-padding-bottom;

  .photo-album__main__pagination {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
}
