.breadcrumbs-v1 {
    @include block-padding;
    /* .breadcrumbs__list */
    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    /* .breadcrumbs__item */
    &__item {
        position: relative;
        svg {
            position: absolute;
            right: -20px;
            transform: rotate(270deg);
            path {
                fill: #000;
            }
            @include media_from('xs') {
                top: 9px;
            }
            @include media_from('sm') {
                top: 11px;
                right: -30px;
            }
            @include media_from('xl') {
                top: 13px;
            }
        }
        &:not(:last-child) {
            margin-right: 24px;
        }
        @include media_from('sm') {
            &:not(:last-child) {
                margin-right: 36px;
            }
        }
        @include media_from('md') {
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }
    /* .breadcrumbs__link */
    &__link {
        font-family: var(--mdc-typography-font-family), Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        line-height: 130%;
        color: var(--blackTextColor);
        text-decoration: none;
        @media (any-hover: hover){
            &:focus-visible {
                color: #DA8A3A;
                outline: none;
            }
        }
        @include media_from('xs') {
            font-size: 15px;
        }
        @include media_from('sm') {
            font-size: 20px;
        }
        @include media_from('lg') {
            font-size: 24px;
        }
    }
    /* .breadcrumbs__current */
    &__current {
        font-family: var(--mdc-typography-font-family), Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        line-height: 130%;
        white-space: nowrap;
        color: var(--mdc-theme-primary);
        @include media_from('xs') {
            font-size: 15px;
        }
        @include media_from('sm') {
            font-size: 20px;
        }
        @include media_from('lg') {
            font-size: 24px;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    /* .modal__dialog */
    &__dialog {
        max-width: 500px;
        margin: 40px auto
    }
    /* .modal__content */
    &__content {
        position: relative;
        width: 100%;
        padding: 40px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;
        max-height: 80vh;
        overflow-y: auto
    }
    &__close {
        position: absolute;
        top: 8px;
        right: 14px;
        font-size: 30px;
        color: #000;
        opacity: .5;
        font-weight: 700;
        border: none;
        background-color: transparent;
        cursor: pointer
    }
    &__title {
        text-align: center;
        font-size: 22px;
        text-transform: uppercase
    }
}
.show {
    display: block;
}
.hide {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.1;
    } to {
        opacity: 1;
    }
}