@import "../../components/bread-crumb/bread-crumb.scss";
@import "../../components/fancybox/fancybox.scss";
@import "../../components/pagination/pagination.scss";


.video-album {
    @include block-padding-bottom;
    &__main {
        .photo-album__main__pagination {
            display: flex;
            justify-content: center;
            margin-top: 32px;
        }
    }
}
