@import 'variables.scss';

.errors {
        padding-top: $blockPaddingTop;
}

.content {
        display: flex;

        &__left {
                max-width: 50%;
                margin-right: $contentLeftGutter;
        }

        &__left-text h1 {
                margin-bottom: 20px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 45px;
                line-height: 60px;
                color: #202020;
        }

        &__left-text p {
                margin-bottom: 48px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                color: #9F9F9F;
        }

        &__left button {
                padding: 15px 40px;
                width: 350px;
                height: 57px;
                background: #DA8A3A;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                color: #FAFAFA;
                border: none;
                outline: none;
                cursor: pointer;
        }

        &__right-image2 {
                background-image: url('/images/error_500_bg.png');
        }
}