@import "/src/css/bootstrap-reboot.min.css";
@import "/src/css/bootstrap-grid.min.css";
@import "/src/css/fonts.css";

@import "var";
@import "mixins/media";
@import "mixins/positioning";
@import "mixins/fonts";
@import "main";
@import "/src/components/btn/style";
@import "src/components/svg-icon/style";
@import "src/components/alert/style";

@import "header";
@import "footer";

@import "/src/templates/index/style";
@import "/src/templates/about/about-section.scss";
@import "/src/templates/about/about-main.scss";
@import "/src/templates/names/names-main.scss";
@import "/src/templates/contacts/scss/contacts-common.scss";
@import "/src/templates/contacts/scss/contacts-main.scss";
@import "/src/templates/detailsPage/details.scss";
@import "/src/templates/news/news-group.scss";
@import "/src/templates/news/news-main.scss";
@import "src/components/flip/style.scss";
@import "/src/templates/404/error-content.scss";
@import "/src/templates/search/search-main.scss";
@import "/src/templates/photo-album/photo-album.scss";
@import "/src/templates/photo-album-specific/photo-album-specific.scss";
@import "/src/templates/audio-album/audio-album.scss";
@import "/src/templates/video-album/video-album.scss";
@import "/src/templates/gallery/gallery.scss";