.footer {
  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  @mixin item_margin_bottom() {
    margin-bottom: 15px;
    @include media_from('sm') {
      margin-bottom: 20px;
    }
  }
  font-size: $footer-font-size-display-xs;
  @include media_from('sm') {
    font-size: $footer-font-size-display-sm;
  }
  @include media_from('lg') {
    font-size: $footer-font-size-display-lg;
  }
  background: $footer-background-color;
  color: $footer-font-color;

  a {
    color: $footer-font-color;

    &:hover {
      color: $theme-color;

      .svg-icon {
        fill: $theme-color;
      }
    }
  }

  &__container {
    padding: 30px 0;
    @include media_from('md') {
      padding: 50px 0;
    }
  }

  &__logo {
    margin-bottom: 15px;
    @include media_from('md') {
      margin-bottom: 0;
    }
  }

  &-nav {
    @include media_from('sm') {
      columns: 2;
    }
    padding: 0;
    margin: 30px 0 0;
    @include media_from('md') {
      margin-top: 0;
    }

    &__item {
      @include item_margin_bottom;
    }
  }

  &__contact_item {
    @include item_margin_bottom;
    white-space: nowrap;

    .svg-icon {
      fill: $footer-font-color;
    }
  }

  &__social-title {
    @include item_margin_bottom;
  }

  &__social-networks {
    .svg-icon {
      fill: $footer-font-color;
      margin-right: 10px;
    }
  }

  &__copyright {
    border-top: 1px solid $footer-font-color;
    padding: 20px 0;
    text-align: center;

    .svg-icon {
      fill: $footer-font-color;
    }
  }
}
