.footer {
  padding-top: 30px;
  @include media_from('md') {
    padding-top: 50px;
  }
  background: #4f4f4f;
  font-size: 15px;
  color: #f3f3f3;

  a {
    color: #f3f3f3;
  }

  @include media_from('lg') {
    font-size: 20px;
  }
  @include media_from('md') {
    font-size: 18px;
  }

  &__columns {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__contacts-phone {
    margin-bottom: 20px;
  }

  &__icon_text {
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 20px;

    .svg-icon {
      fill: white;
    }
  }

  &__mail-text {
    font-weight: 400;
    line-height: 27px;
  }

  &__flex-c {
    display: flex;
  }

  &__social-text {
    padding-bottom: 20px;
    line-height: 27px;
  }

  &__line {
    margin-top: 40px;
  }

  &__line-img {
    width: 100%;
  }

  &__line-info {
    margin-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__social-icons {
    .svg-icon {
      fill: white;
      margin-right: 10px;
    }
  }

  &__logo {
    margin-bottom: 15px;
    @include media_from('md') {
      margin-bottom: 0;
    }
  }

  &-nav {
    margin-top: 10px;
    @include media_from('sm') {
      margin-top: 20px;
    }
    @include media_from('md') {
      margin-top: 0;
    }

    &__item {
      margin-bottom: 15px;
      line-height: 27px;
      @include media_from('lg') {
        margin-bottom: 20px;
      }
    }
  }
}
