@import "/src/components/top-nav/style";
@import "/src/components/top-search/style";
@import "/src/components/mobile-nav/style";

.header {
  display: flex;
  flex-direction: column;
  background: $header-background-color;
  position: relative;

  &_entity_show {
    background: $header-showed-entity-background;
    background-size: cover;
    min-height: 90vh;
    @include media_from('md') {
      min-height: 100vh;
    }

    .top-nav-sub {
      background: $top-nav-sub-showed-entity-background-color;
    }

    .header-branding {
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $header-branding-showed-entity-before-background-color;
        backdrop-filter: blur(5px);
      }
    }
  }

  &__main-join-form {
    margin: auto 0;
  }
}

.header-branding {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0;
  width: 100%;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  &__mobile-buttons {
    display: flex;
    align-items: center;
  }

  svg {
    fill: $header-branding-mobile-buttons-color;
  }
}

.header__cover {
  height: 90vh;
  @include media_from('md') {
    height: 100vh;
  }
  left: 0;
  object-fit: cover;
  top: 0;
  transform: none;
  width: 100%;
  max-width: 1000%;
  position: absolute;
  z-index: -1;
}

.header-entity {
  color: $header-entity-font-color;
  padding-bottom: 10px;
  @include media_from('md') {
    padding-bottom: 30px;
  }
}
