$font-color: #202020;
$theme-color: #da8a3a;

$a-hover-color: $theme-color;

$btn-background-color: $theme-color;
$btn-border-color: $theme-color;
$btn-with-background-font-color: white;
$btn-xl-font-size-display-xs: 18px;
$btn-xl-font-size-display-lg: 20px;

$image-tile-font-color: white;
$image-tile-btn-font-color: white;

$article-card-title-font-size-display-xs: 18px;
$article-card-title-font-size-display-md: 20px;

$article-card-date-font-size-display-xs: 14px;
$article-card-date-font-size-display-md: 15px;

$article-card-text-font-size-display-xs: 15px;
$article-card-text-font-size-display-md: 16px;


$footer-font-size-display-xs: 16px;
$footer-font-size-display-sm: 18px;
$footer-font-size-display-lg: 20px;
$footer-background-color: #4F4F4F;
$footer-color: #f3f3f3;
$footer-a-hover-color: $a-hover-color;