$font-color: #202020;
$theme-color: #da8a3a;

$btn-background-color: $theme-color;
$btn-border-color: $theme-color;
$btn-with-background-font-color: white;
$btn-xl-font-size-display-xs: 18px;
$btn-xl-font-size-display-lg: 20px;

$blackTextColor: #202020;
$successColor: #3C8A29;

$header-background-color: #595959;
$header-showed-entity-background: linear-gradient(180deg, rgb(0 0 0 / 80%) 33%, rgb(0 0 0 / 50%) 100%);

$header-branding-showed-entity-before-background-color: rgba(255, 255, 255, 0.2);
$header-branding-mobile-buttons-color: #f5f5f5;
$mobile-nav-btn-color: $header-branding-mobile-buttons-color;

$header-entity-font-color: #f5f5f5;


$header-main-join-form-font-color: #f5f5f5;
$header-main-join-form-title-font-size-display-xs: 36px;
$header-main-join-form-title-font-size-display-sm: 55px;
$header-main-join-form-title-font-size-display-lg: 65px;
$header-main-join-form-sub-title-font-size-display-xs: 20px;
$header-main-join-form-sub-title-font-size-display-sm: 30px;
$header-main-join-form-sub-title-font-size-display-lg: 35px;

$top-nav-font-size: 20px;
$top-nav-font-color: #f5f5f5;
$top-nav-sub-background-color: #595959;
$top-nav-sub-showed-entity-background-color: rgba(255, 255, 255, 0.2);

$top-search-font-color: #f5f5f5;
$top-search-border-color: #f5f5f5;
$top-search-background-color: rgba(105, 104, 104, 0.2);
$top-search-input-placeholder-color: rgba(243, 243, 243, 0.7);

$main-names-background: url('/images/bcgr-two.png');

$main-news-background-color: #F3F3F3;

$main-numbers-font-colors: (1:#121a60, 2:#7b0d0d, 3:#274d2d, 4:#874d22);

$image-tile-font-color: #F3F3F3;
$image-tile-btn-font-color: #F3F3F3;
$image-tile-font-size-display-xs: 25px;
$image-tile-font-size-display-lg: 35px;
$image-tile-btn-font-size-display-xs: 18px;
$image-tile-btn-font-size-display-xl: 20px;
$image-tile-btn-shadow-color: $theme-color;

$article-card-title-font-size-display-xs: 18px;
$article-card-title-font-size-display-md: 20px;
$article-card-date-font-size-display-xs: 14px;
$article-card-date-font-size-display-md: 15px;
$article-card-text-font-size-display-xs: 15px;
$article-card-text-font-size-display-md: 16px;

$footer-font-size-display-xs: 16px;
$footer-font-size-display-sm: 18px;
$footer-font-size-display-lg: 20px;
$footer-background-color: #595959;
$footer-font-color: #f3f3f3;
