@import "/src/components/card-slider/style";

.main-names {
  @include block-padding;
  background: $main-names-background;
  display: flex;

  &__link {
    margin-top: 20px;
  }

  &__link-wrapper {
    display: flex;
    justify-content: center;
  }
}
