@import "/src/components/card-slider/style";

.main-names {
  background: url('/images/bcgr-two.png');
  margin-bottom: 130px;
  padding: 80px 0;
  display: flex;

  &__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #202020;
  }

  &__link {
    margin-top: 20px;
    padding: 20px 45px;
    background: #DA8A3A;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
  }

  &__link-wrapper {
    display: flex;
    justify-content: center;
  }
}
