@import "/src/components/article-card/style";

.main-news {
  @include block-padding;
  background-color: #F3F3F3;

  &__title {
    font-weight: 600;
    font-size: 45px;
    color: #202020;
    margin-bottom: 50px;

  }

  &__link {
    margin-top: 20px;
  }

  &__link-wrapper {
    display: flex;
    justify-content: center;
  }
}
