.card-slider {
  position: relative;

  &__item-card {
    position: relative;
    background-color: rgb(79, 79, 79);
    background-position: center;
    background-size: cover;
    width: 225px;
    height: 300px;
  }

  &__title {
    position: absolute;
    color: #f3f3f3;
    bottom: 10px;
    padding: 0 20px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    line-height: 140%;
  }

  &__navigation {
    position: absolute;
    text-align: right;
    top: -60px;
    right: 0;
    display: none;
    @include media_from('lg') {
      display: block;
    }
  }

  &__navigation-left {
    margin-right: 10px;
  }

  &__navigation-left,
  &__navigation-right {
    width: 48px;
    height: 48px;
    border: 2px solid $theme-color;
    border-radius: 10px;
    transition: filter .5s ease 0s;
    outline: none;

    &:hover, &:focus-visible {
      transition: 0.3s all;
      box-shadow: 0 0 10px $theme-color;
    }
  }

  &__item {
    justify-content: center;
    display: flex;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 10px;
    @include media_from('lg') {
      display: none;
    }
  }
}

.swiper-pagination-bullet {
  background-color: rgba(79, 79, 79, 0.7) !important;
  width: 10px;
  height: 10px;
  border: 1px solid #f3f3f3;
}

.swiper-pagination-bullet-active {
  background-color: $theme-color !important;
}
