.card-slider {
  padding-bottom: 50px;

  &__item-card {
    position: relative;
    background-color: rgb(79, 79, 79);
    background-position: center;
    background-size: cover;
    width: 225px;
    height: 300px;

    &_page_aboutus {
      width: 279px;
      height: 394px;
    }
  }

  &__title {
    position: absolute;
    color: #f3f3f3;
    bottom: 10px;
    padding: 0 20px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    line-height: 140%;
  }

  &__navigation {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
  }

  &__navigation-left {
    margin-right: 10px;
  }

  &__navigation-left,
  &__navigation-right {
    cursor: pointer;
  }

  &__item {
    justify-content: center;
    display: flex;
  }

  &__pagination {
    width: 110px !important;
    position: relative;
    padding: 8px 18px;
 /*    background: rgba(79, 79, 79, 0.7); */
    border-radius: 5px;
    margin: 15px auto;
  }
}

.swiper-pagination-bullet {
  background-color: rgba(79, 79, 79, 0.7) !important;
  width: 10px;
  height: 10px;
  border: 1px solid #f3f3f3;
}

.swiper-pagination-bullet-active {
  background-color: $theme-color !important;
}
