$containerMaxWidth: 1366px; //ширина контейнера
$containerLeftPadding: 82px; //левый паддинг
$containerRightPadding: 82px; //правый паддинг
$contentLeftGutter: 30px; //отступ от левого блока
$contentLeftWidth: 107%; //ширина левого блока
$blockPaddingTop: 100px; //верхний паддинг секции