$containerMaxWidth: 1440px; //ширина контейнера
$containerLeftPadding: 165px; //левый паддинг
$containerRightPadding: 165px; //правый паддинг
$contentLeftGutter: 30px; //отступ от левого блока
$contentLeftWidth: 107%; //ширина левого блока
$blockPaddingTop: 100px; //верхний паддинг секции