.mobile-nav-btn {
  width: 27px;
  height: 23px;
  cursor: pointer;

  &_opened {
    .mobile-nav-btn__line {
      background-color: transparent;

      &:before {
        transform: translateY(9px) rotate(45deg);
      }

      &:after {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }

  &__line {
    display: block;
    position: relative;
    width: 27px;
    height: 3px;
    background-color: $mobile-nav-btn-color;
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 9px;

    &::before, &::after {
      display: block;
      position: absolute;
      content: "";
      width: 27px;
      height: 3px;
      background-color: $mobile-nav-btn-color;
      -webkit-transition: all ease .4s;
      transition: all ease .4s;
      border-radius: 9px;
    }

    &::before {
      top: -9px;
    }

    &::after {
      top: 9px;
    }
  }
}

.mobile-nav {
  display: none;
  background: #f7f7f7;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 70px;
  width: 100%;
  z-index: 500;
  font-size: 16px;

  &_opened {
    display: block;
  }

  &__item {
    a {
      text-decoration: none;
    }

    svg {
      width: 0.7rem;
      height: 0.7rem;
      margin-right: 0.5rem;
      margin-bottom: 0.3rem;
      fill: #b31f1f;
    }

    background: #fff;
    border-bottom: 1px solid #eee;

    display: block;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 50px;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;

    & a:hover {
      color: $theme-color;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }

  li {
    list-style: none;
  }

  ul {
    padding-left: 1rem;
  }
}
