.mobile-nav-btn {
  display: block;
  position: relative;
  width: 27px;
  height: 3px;
  background-color: $mobile-nav-btn-color;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;

  &::before, &::after {
    display: block;
    position: absolute;
    content: "";
    width: 27px;
    height: 3px;
    background-color: $mobile-nav-btn-color;
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
  }

  &::before {
    top: -9px;
  }

  &::after {
    top: 9px;
  }

  &:hover {
    background-color: transparent;

    &:before {
      transform: translateY(9px) rotate(45deg);
    }

    &:after {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}
